<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>90</integer>
			<key>icon</key>
			<string>icon@3x.png</string>
			<key>label</key>
			<string>EnableMeAhora V-0.1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enables the tweak. This must be on for other options to work. To disable entire tweak simply turn off this button, and close settings.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: Some options may override other ones. Currently enabled in Settings and Flex3 apps. Will make system wide once a few bugs are squished.</string>
			<key>label</key>
			<string>Switch color choices</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>onTintColorHex</string>
			<key>label</key>
			<string>On switch color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>offTintColorHex</string>
			<key>label</key>
			<string>Off color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>wellColorEnabled</string>
			<key>label</key>
			<string>Use custom well color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>wellOnColorHex</string>
			<key>label</key>
			<string>Well color(outline)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string> com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>thumbTintColorHex</string>
			<key>label</key>
			<string>Thumb color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>backgroundColorEnabled</string>
			<key>label</key>
			<string>Use Background Color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>backgroundColorHex</string>
			<key>label</key>
			<string>Background color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>offTextHex</string>
			<key>label</key>
			<string>Off label/image color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>alpha</key>
			<false/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/EnableMeAhora.bundle</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>onTextHex</string>
			<key>label</key>
			<string>On label/image color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra options</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>showsLabels</string>
			<key>label</key>
			<string>Show label images</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>wantsCustomWidth</string>
			<key>label</key>
			<string>Custom well width</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>customBorderWidth</string>
			<key>max</key>
			<real>6</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.enablemeahora/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.enablemeahora</string>
			<key>key</key>
			<string>useTintOverColor</string>
			<key>label</key>
			<string>Light tint over color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>No respring needed, but if settings don’t update instantly or after hitting back button and returning, this will apply all changes.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>48</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>Made by i0s_tweak3r</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>Follow on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like this tweak, and want to support further development, plz consider a small donation.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Paypal@2x.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>EnableMeAhora</string>
</dict>
</plist>
